{% extends 'main.html' %}

{% block content %}
<!--
<div class="card-deck" style="display: flex; flex-wrap: wrap;">
{% for art in articles %}
<h2>{{art.title}}</h2>
    <p>{{art.resu}}</p>
<img src="{{art.image.url}}">


  <div class="card" style="flex: 2 0 21%;">
    <img class="card-img-top" src="{{art.image.url}}" >
    <div class="card-body">
      <h5 class="card-title">{{art.title}}</h5>
      <p class="card-text">{{art.resu}}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Article créé : {{art.date_creation}}</small>
    </div>
  </div>


    {% endfor %}
    </div>
-->

<div class="container">

    <div class="row">
      {% for art in list_articles %}
        <div class="col-sm-6 col-lg-3 py-2">
            <div class="card h-100">
                <img class="card-img-top img-fluid" src="{{art.image.url}}" >
                <div class="card-body">
                    <h4 class="card-title">{{art.title}}</h4>
                    <p class="card-text"><a href="{% url 'categorie' art.categorie %} ">Category : {{art.categorie}}</a></p>
                    <p class="card-text"><small class="text-muted">Added : {{art.date_creation}}</small></p>
                </div>
                <a href="{% url 'article' art.pk %} " class="btn btn-primary">Read More !</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!--<br>
{{list_articles}} <br>
Has previous : {{list_articles.has_previous}}<br>
Has next : {{list_articles.has_next}}<br>
current  : {{list_articles.number}}<br>
total : {{list_articles.paginator.num_pages}}<br>
-->

<nav aria-label="Page navigation example" >
  <ul class="pagination" >


<hr>
{% if list_articles.has_previous %}
<li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
<li class="page-item"><a class="page-link" href="?page={{list_articles.previous_page_number}}">Previous</a></li>
{% endif %}
<li class="page-item"><a href="#" class="page-link" >Page {{list_articles.number }} of {{ list_articles.paginator.num_pages}}</a></li>
{% if list_articles.has_next %}

<li class="page-item"><a class="page-link" href="?page={{list_articles.next_page_number}}">Next</a></li>

<li class="page-item"><a class="page-link" href="?page={{list_articles.paginator.num_pages}}">Last &raquo</a></li>
{% endif %}
  </ul>
</nav>

{% endblock %}

